<footer>
    <nav>
        <a href="javascript:void(0);" id="theme-toggle" title="Toggle theme">
            <i class="sunset" data-feather="sunset"></i>
            <i class="sunrise" data-feather="sunrise"></i>
        </a>
        <a href="/posts/">Posts</a>
        <a href="/tags/">Tags</a>
        </ul>
    </nav>
    <section>&copy; {{ now.Format "2006" }} {{ .Site.Params.Author }}. All rights reserved.</section>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.24.1/feather.min.js"></script>
<script src="/js/main.js"></script>