<header>
        <h1><a href="{{ .Site.BaseURL }}">Josh Gerdes</a></h1>
        <section>
                {{ with .Site.Params.Social.LinkedIn }}
                <a href="https://github.com/{{.}}" title="GitHub" rel="noopener noreferrer" target="_blank"><i
                                data-feather="github"></i></a>
                {{ end }}
                {{ with .Site.Params.Social.LinkedIn }}
                <a href="https://twitter.com/{{.}}" title="Twitter" rel="noopener noreferrer" target="_blank"><i
                                data-feather="twitter"></i></a>
                {{ end }}
                {{ with .Site.Params.Social.LinkedIn }}
                <a href="https://instagram.com/{{.}}" title="Instagram" rel="noopener noreferrer" target="_blank"><i
                                data-feather="instagram"></i></a>
                {{ end }}
                {{ with .Site.Params.Social.LinkedIn }}
                <a href="https://linkedin.com/in/{{.}}" title="LinkedIn" rel="noopener noreferrer" target="_blank"><i
                                data-feather="linkedin"></i></a>
                {{ end }}
                {{ with .Site.Params.Social.Email }}
                <a href="mailto:{{.}}" title="Email Me" rel="noopener noreferrer" target="_blank"><i
                                data-feather="mail"></i></a>
                {{ end }}
                <a href="/index.xml" title="RSS" target="_blank"><i data-feather="rss"></i></a>
        </section>
</header>