<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="referrer" content="no-referrer" />
    <meta name="description" content="{{ .Site.Params.Description }}" />
    <meta name="author" content="{{ .Site.Params.Author }}" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="{{ .Site.BaseURL }}">
    <meta name="twitter:title" content="{{ .Site.Params.author }}" />
    <meta name="twitter:description" content="{{ .Site.Params.Description }}" />

    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ .Site.Title }}" />
    <meta property="og:description" content="{{ .Site.Params.Description }}" />
    <meta property="og:url" content="{{ .Site.BaseURL }}">
    <meta property="og:site_name" content="{{ .Site.Title }}">

    <link rel="icon" type="image/x-icon" href="/images/favicons/favicon.ico">
    <link rel="icon" type="image/png" sizes="48x48" href="/images/favicons/favicon-48x48.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/favicons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/images/favicons/android-chrome-512x512.png">
    <link rel="manifest" href="/images/favicons/site.webmanifest">

    <base href="{{ .Site.BaseURL }}" />
    <title>
        {{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
        {{ if .IsHome }}
        {{ .Site.Title }}
        {{ else if .Params.heading }}
        {{ .Params.heading }}
        {{ else }}
        {{ .Title }} | {{ .Site.Title }}
        {{ end }}
    </title>
    <meta name="title"
        content="{{ if .IsHome }}{{ .Site.Title }}{{ else if .Params.heading }}{{ .Params.heading }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end}}">
    <link rel="canonical" href="{{ .Permalink }}" />
    {{ with .OutputFormats.Get "RSS" }}
    <link rel="alternate" href="{{ .RelPermalink }}" type="application/rss+xml" title="{{ site.Title }}">
    <link rel="feed" href="{{ .RelPermalink }}" type="application/rss+xml" title="{{ site.Title }}">
    {{ end }}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@1,14..32,300&display=swap" />
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body>
    <main>
        {{- partial "header.html" . -}}
        <section class="content">
            {{- block "main" . }}{{- end }}
        </section>
        {{- partial "footer.html" . -}}
    </main>
</body>

</html>