{{ define "main" }}
<h2>Recent Posts</h2>
{{ $pages := where site.RegularPages "Type" "in" (slice "posts") }}
{{- range first .Site.Params.RecentPostsCount $pages -}}
<article>
  <header>
    <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
  </header>
  <section>
    {{ if isset .Params "description" }}
    {{ .Description }}
    {{ else }}
    {{ slicestr .Summary 0 .Site.Params.summaryLength }}
    {{ end }} &hellip;
  </section>
  <footer>
    <time datetime='{{ .Date.Format "January 2, 2006" }}'>{{ .Date.Format "January 2, 2006" }}</time>
    {{- partial "tags.html" . -}}
  </footer>
</article>
{{ end }}
{{ end }}