{{ define "main" }}
<article itemscope itemtype="http://schema.org/BlogPosting">
    <header>
        <h2 itemprop="headline">{{ .Title }}</h2>
        <section>
            <time datetime="{{ .Date.Format "2006-01-02" }}" itemprop="datePublished">
                {{ .Date.Format "January 2, 2006" }}
            </time>
            {{ if .Lastmod }}
            <meta itemprop="dateModified" content="{{ .Lastmod.Format "2006-01-02" }}">
            {{ end }}
            {{- partial "tags.html" . -}}
        </section>
    </header>
    <section itemprop="articleBody">
        {{ .Content }}
    </section>
    
    {{ if .Site.Params.Author }}
    <meta itemprop="author" content="{{ .Site.Params.Author }}">
    {{ end }}
</article>
{{ end }}